body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
}
.greetings h1 {
  text-align: center;
  background-color: blue;
  font-size: 100px;
}
.greetings h1:nth-child(2) {
  background-color: yellow;
}
.greetings h1:nth-child(3) {
  background-color: red;
}
