body {
  margin: 0;
  font-family: sans-serif;
  background-image: url('http://i.imgur.com/l0aH6Oj.jpg');
}
div h1 {
  font-size: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
